<!DOCTYPE html>

<html>

    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>

        <link href="/css/estilos.css"
              rel="stylesheet"
              type="text/css"/>
    </head>

    <body>

        <header class="header">

            <nav class="nav">

                <a class="logo nav-link" href="/">
                    TechShop
                </a>

                <ul class="nav-menu">

                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link"
                           href="/ejemplo2">
                            Mis Autos
                        </a>
                    </li>

                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link"
                           href="/multimedia">
                            Multimedia
                        </a>
                    </li>

                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link"
                           href="/iframes">
                            iFrames
                        </a>
                    </li>

                </ul>

            </nav>

        </header>

        <section class="contenido">

            <h2>
                Esta es la tienda en línea del curso
            </h2>

        </section>

        <footer class="footer">

            Todos los Derechos Reservados
            TechShop 2025 &COPY;

        </footer>

    </body>

</html>