<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <header>
            <h1>Multimedia</h1>
        </header>

        <aside>
            <h2>Multimedia</h2>
            <p>Incorporación de recursos multimedia en el sitio web.</p>
        </aside>

        <section>
            <h2>Uso de Multimedia</h2>

            <article>
                <h3>Música Celta</h3>
                <p>Audio pendiente de agregar.</p>
            </article>

            <article>
                <h3>Película de Acción</h3>
                <p>Video pendiente de agregar.</p>
            </article>
        </section>

        <footer>
            TechShop Derechos Reservados 2026 &COPY;
        </footer>

    </body>

</html>